body {
    font-family:  sans-serif;
    background: whitesmoke;
    min-height: 100vh;
    overflow-x: hidden;
}

.home-nav { 
    display: flex;
    padding-top:15px;
    padding-bottom:10px;
    color:black;
    height: 80px;
}

.home-nav > * { 
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
}

.home-nav a {
  text-decoration-line: none;
  color:black;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.home-nav .logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
} 
  

.date-block div {
    background-color: black;
    height: 50px;
}

.date-block div span {
    color: white;
    padding-top:12px;
}

.date-block div div .right-text {
    float:right;
    text-align:right;
    padding-right:10px;
}

.date-block div div .left-text {
    padding-left:10px;
    float:left;
    text-align:left;
}

.date-block div div span .day-date{
    padding-left:15px;
    color: rgba(255, 255, 255, 0.5);
}

  
.carousel-img {
    display: block;
    width:100%;
    height:  83%;
}

.image-carousel-caption{
    position:absolute;
    bottom:45%;
    left:8%;
    z-index:10;
    color:#fff;
    text-align:center;
}

.image-carousel-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    letter-spacing: 0.2em;
    color: #000000;
}

.image-caraousel-desc{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.4em;
    color: #000000;
}

.collection-block div div .overlay-img {
    background: linear-gradient( rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52) ), url(../covers/sharon-garcia-CSVtweubStY-unsplash.jpg);
    width: 100%;
    background-size: 55vh 65vh;
    position: relative;
    height:57.6%;
}



.collection-block div div .overlay-img-text {
    left: 0;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    position:relative;
    top: 20%;
    width: 100%;
    color:white !important;
    margin-left:34%;
}

.collection-block div div .view-products-btn {
    left: 0;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 18px;
    position:relative;
    top: 23%;
    width: 45%;
    height:10%;
    color:white;
    margin-left:28%;
}

.view-products-btn:hover {
    background-color:white;
    color:black !important;
}

.collection-block div .clock-canvas {
    background-color:black;
}

.collection-block div .clock-canvas .clock {
    margin-left:3%;
}

.clock-focus-dot{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    margin-top:-180;
    display: block;
}

.inner-clock-focus-dot{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    margin-top:-40px !important;
    display: block;
}

.ad-earth-text{
    position:absolute;
    margin-top: 80%;
    margin-left: 35%;
    font-family: Roboto Mono;
    font-style: normal;
    color:rgba(219, 0, 0, 0.8);
    font-size: 18px;
}

.ad-year-text{
    height: 140px;
    white-space: nowrap;
    width: 0;
    font-size: 18px;
}
  
.ad-year-text > div {
    -webkit-transform: translate(0px, 110px) rotate(90deg);
            transform: translate(0px, 110px) rotate(90deg);
}
  
.ad-year-text > div > span {
    position:absolute;
    margin-left: 92%;
    font-family: Roboto Mono;
    font-style: normal;
    color:white;
    font-size: 18px;
    
}



.rotated-text-row{
    flex-wrap: nowrap;
  word-break: break-all;
}


.rotate-text {
    height: 140px;
    white-space: nowrap;
    width: 0;
    margin-left:50%;
}
  
.rotate-text > div {
    -webkit-transform: translate(0px, 110px) rotate(90deg);
            transform: translate(0px, 110px) rotate(90deg);
}
  
.rotate-text > div > span {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.3em;
    color: #000000;
    margin:-88px;
    
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

/* 
.collection-block div div .overlay-img::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.52);
} */

.product-bg::before{
    content: "";
    opacity: 0.3;
    width : 102%;
    position: absolute;
    height: 100%;
    background:  url(../covers/sam-burriss-uaq0y8pb6W4-unsplash.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: 115%;
    background-position-y: 60%;
}

.product-bg-border{
    width : 20%;
    position: absolute;
    height: 79.6%;
    border: 1px solid black;
    left:82%;
    margin-top:2.5%;
}

.rotated-site-title{
    position:absolute;
    left:97.5%;
    margin-top:2%;

}

.rotated-site-title > div {
    -webkit-transform: translate(0px, 110px) rotate(-90deg);
            transform: translate(0px, 110px) rotate(-90deg);
}
  
.rotated-site-title > div > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 117px;
    letter-spacing: -0.2em;
    color: #FFFFFF;
    margin:-330px;
}


.product-title-bg{
    background-color:black;
    height:558px;
}

.rotate-products-title {
    height: 140px;
    white-space: nowrap;
    width: 0;
    margin-left:52%;
}
  
.rotate-products-title > div {
    -webkit-transform: translate(0px, 110px) rotate(-90deg);
            transform: translate(0px, 110px) rotate(-90deg);
}
  
.rotate-products-title > div > span {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin:-330px;
}

.products-block{
    height:558px;
}

.view-all-button-product{
    color: black;
    position: absolute;
    margin-top: 10%;
    margin-left: 14%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration-style: none;
}

.view-all-button-product-underline{
    color: black;
    position: absolute;
    margin-top: 20%;
    margin-left:15%;
    width: 150px;
    border-bottom: 1px solid black;
}

.width-space{
    width:40px !important;
}

.product-card {
    width: 240px;
    height:285px;
    margin-top:100px;
    margin-left:50px;
    position: relative;
    background-color:transparent;
}

.product-card2 {
    margin-top:165px;
    width: 300px;
    height:220px;
    margin-right:35px;
    position: relative;
    background-color:transparent;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding-top:15px;
    background-color:transparent;
}

.product-details h4 a {
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.product-details h4 a:hover {
    color: rgba(219, 0, 0, 0.8);
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}


.shop-features-block div {
    background-color: #0E1213;
    height: 212px;
}

.shop-features-block div span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    text-align: center;
}

.shop-features-block div div .desc1 {
    margin-top:50px;
}
.shop-features-block div div .desc2 {
    margin-top:80px;
}
.shop-features-block div div .desc3 {
    margin-top:110px;
}
.shop-features-block div div .desc4 {
    margin-top:140px;
    margin-left:65px;
}


.instagram-logo{
    height: 100px;
}

.instagram-logo span{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
   margin-top:30px;
   left:100px;
   position:absolute;
    letter-spacing: 0.1em;
    color: #000000;
}

.instagram-logo img{
    width: 35px;
    height: 35px;
    left:50px;
    position:absolute;
    margin-top:35px;
}

.other-images{
    height:245;
}


.footer-details{
    height: 238px;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.81),
      rgba(0, 0, 0, 0.81)
    ),
    url(../covers/rsz_mec-rawlings-yds3ucbhtx4-unsplash.jpg);
    background-size: cover;
    width: 101.1%;
    position: relative;
    float: left;
}

.footer-details div{
    position:relative;
    margin-top:25px;
}

.footer-details div span{
    margin-left:40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
  
}

.footer-details div p{
    margin-left:40px;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    margin-top:20px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.87);
}
.footer-copyright div div{
    height:40px;
    width:100%;
    margin-left:50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-top:30px;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.54);
}

/** SEARCH **/
.sidemenu .search-button {
	text-decoration: none;
	display: inline-block;
	width: 56px;
	border-left: 1px solid rgba(0,0,0,.05);
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	outline: 0;
	box-sizing: border-box;
}
.search-button:focus {
	outline: 0;
}
.search-button:before {
	display: block;
	content: "\e801"; /* ti-search */
	font-family: 'themify_theme_icon';
	font-size: 1.3em;
	padding: .9em .7em;
}

/* SEARCH LIGHTBOX */
#search-lightbox-wrap {
	padding: 8% 6%;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1111;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255,255,255,.95);
    display: none;
    
}
.search-lightbox {
	max-width: 600px;
	margin: auto;
	box-sizing: border-box;
	text-align: left;
}

.search-lightbox {
	transform: translateY(-10%);
	transition: .3s linear;
	transition-delay: .5s;
	transition-duration: .5s;
	opacity: 1;
}
.searchform-slidedown .search-lightbox {
	transform: none;
	opacity: 1;
}
/* animate search input */
#search-lightbox-wrap #searchform-wrap {
    margin-top: 25%;
}
#search-lightbox-wrap #searchform-wrap #searchform {
    font-size: 2.5em;
}
#search-lightbox-wrap.search-active #searchform-wrap {
    margin-top: 0;
}
#search-lightbox-wrap.search-active #searchform-wrap #searchform {
    font-size: 2em;
}
/* searchform */
#searchform-wrap {
	display: block;
}
#searchform {
	font-size: 2em;
	border-bottom: 1px solid #000;
	position: relative;
	margin: 0 0 1em;
}
#searchform #s {
	background-color: transparent;
	border: none;
	margin: 0;
	width: 100%;
	padding: .45em;
	padding-left: 1.75em;
	letter-spacing: -0.04em;
}
#searchform .ti-search {
	color: #000;
	font-size: 1.2em;
	font-style: normal;
	position: absolute;
	left: 2px;
	top: 54%;
	transform: translateY(-50%);
}


/* search option tab */
.search-option-tab {
    margin: 0 0 1.4em;
    padding: 0;
    font-size: .9em;
    font-weight: 600;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
}
.search-option-tab li {
    display: inline-block;
	margin: 0;
	padding: 0;
}
.search-option-tab li a {
	color: #959595;
	display: inline-block;
	padding: .6em 1em;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
}
.search-option-tab li:hover a,
.search-option-tab li.active a {
	box-shadow: inset 0 -3px 0 0 #dcaa2e;
	color: #060604;
}

/* search result item */
.search-results-wrap a {
	color: inherit;
	text-decoration: none;
}
.search-results-wrap a[style="display: inline;"] {
	display: inline-block !important;
}
.result-item {
	border-bottom: 1px solid rgba(0,0,0,.05);
	clear: both;
	overflow: hidden;
	padding: 0.475em 0 1em;
	position: relative;
}
.result-item .title {
	font-size: 1.1em;
	margin: 0 0 .06em;
	letter-spacing: -.01em;
	padding-right: 55px;
}
.result-item .price {
	display: block;
	font-size: .9em;
	padding-right: 55px;
}
.result-item .price del {
	margin-right: .2em;
	font-size: .7em;
	opacity: .5;
}
.result-item img {
	float: right;
	margin-top: 4px;
}

/* search view all wrap */
.view-all-wrap {
	clear: both;
	text-align: center;
	padding-top: 1.9em;
}
.view-all-button {
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	line-height: 2em;
	margin: 0 0 0.8em;
	padding: 0;
	display:none;
}
.view-all-button:after {
	content: '';
	display: block;
	border-bottom: 3px solid #f2cd8a;
}
#close-search-box {
	cursor: pointer;
	color: #000;
	display: block;
	position: absolute;
	text-decoration: none;
	top: 3%;
	right: 4%;
	width: 36px;
	height: 36px;
	z-index: 9999;
	transition: transform .3s;
}
#close-search-box:before,
#close-search-box:after {
	content: '';
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid;
	position: absolute;
	left: 0;
	top: 50%;
}
#close-search-box:before {
	transform: rotateZ(45deg);
}
#close-search-box:after {
	transform: rotateZ(-45deg);	
}
#close-search-box:hover{
	transform: rotateZ(90deg);
}
.search-results-wrap{
	min-height: 50px;
}
.search-results-wrap > p {
	text-align: center;
}
.search-results-wrap .themify_spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6px;
    transform: translate(-50%,-50%);
}