@import 'config';

.overlay-img-1 {
  height: 100%;
  background: $background-gradient, url(../covers/joel-muniz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-2 {
  height: 100%;
  background: $background-gradient, url(../covers/vincent-delegge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-3 {
  height: 100%;
  background: $background-gradient, url(../covers/ryan-mcmanimie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-4 {
  height: 100%;
  background: $background-gradient, url(../covers/joseph-gruenthal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.overlay-img-5 {
  height: 100%;
  background: $background-gradient, url(../covers/adam-whitlock.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-6 {
  height: 100%;
  background: $background-gradient, url(../covers/mike-von.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-7 {
  height: 100%;
  background: $background-gradient, url(../covers/ehimetalor-akhere-unuabona.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-tag-line {
  bottom: 60px;
  right: 120px;
  margin: 0;
  z-index: 10;
  font-size: 5em;
  color: $light-color;
  text-align: right;
  position: absolute;
  text-shadow: $text-shadow;
}