@import 'config';

.overlay-img-1 {
  height: 100%;
  background: $background-gradient, url(../covers/first_page/vincent-delegge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-2 {
  height: 100%;
  background: $background-gradient, url(../covers/first_page/ryan-mcmanimie-760495-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-3 {
  height: 100%;
  background: $background-gradient, url(../covers/first_page/joel-muniz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-4 {
  height: 100%;
  background: $background-gradient, url(../covers/first_page/mike-von-ro9l9wEzZBA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-5 {
  height: 100%;
  background: $background-gradient, url(../covers/first_page/adam-whitlock-270558-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-img-6 {
  height: 100%;
  background: $background-gradient, url(../covers/first_page/joseph-gruenthal-1057768-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-tag-line {
  top: 50%;
  left: 50%;
  margin: 0;
  z-index: 10;
  font-size: 5em;
  color: $light-color;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: $text-shadow;
}