@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 16px;
  line-height: 1.6;
  font-family: $font-stack;
  background: $light-color;
  font-family: $font-secondary;
}

#date {
  font-size: 16px;
  margin: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collections {
  margin: 15px 0 15px 0;
}

.img-responsive {
  width:  100%;
  height: 120px;
  object-fit: cover;
}