@import 'config';
@import 'carousels';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background: $light-color;
  line-height: 1.6;
}

.navbar {
  width: 100%;
  z-index: 10;
  padding: 15px 15px 15px 15px;
  position: absolute;
  border-bottom: 3px solid #fff;

  .cart-link {
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: #fff !important;
    letter-spacing: 2px;

    .cart {
      width: 40px;
      height: 40px;
      border: 1.5px solid #fff;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
    
  #date_today {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: $text-shadow;
  }

  .time-container {
    font-size: 12px;

    figure {
      margin: 0;
    }
  }
}

.carousel {
  .carousel-caption {
    left: 40px;
    bottom: 0;
    right: auto;
    letter-spacing: 2px;
    text-shadow: $text-shadow;
  }
}

// Media queries
@media only screen and (min-width: 992px) {
  .center-links {
    left: 50%;
    position: absolute;
    margin-left: -170px !important; 
  }

  .navbar-nav a {
    font-size: 1em;
    text-shadow: $text-shadow;
  }
}